.navbar-default {
  .navbar-brand {
    color: #435F7D;
    font-size: 25px;
    width: 450px;
    height: 100px;
    padding-left: 0;
    img {
      display: inline;
    }
  }

  .navbar-nav {
    height: 100px;
    padding: 25px 0 25px 0;
    li {
      a {

      }
    }
  }
}


