<div class="home-outer-div">

  <h3 id="our-office">Our Office</h3>
  <p>We are a full service law firm practicing family law, employment law, debt collections, and general civil litigation.  We offer our clients top-notch, cost-effective representation.   Whether you need a creative negotiator or a tough litigator, we are the right choice.   While no lawyer can guarantee a particular result, we promise that we will always give you exceptional representation that is smart, honest, and effective. Call now to learn how we can help you.</p>

</div>

