<div class="home-outer-div">
  <div class="row">

    <div class="col-sm-4">
      <h4>Services</h4>
      <ul>
        <li>Negotiation</li>
        <li>Litigation</li>
        <li>Litigation</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>Expertise</h4>
      <ul>
        <li>Family Law</li>
        <li>Employment Law</li>
        <li>Debt Collections</li>
        <li>Civil Litigation</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>Expertise</h4>
      <ul>
        <li>Family Law</li>
        <li>Employment Law</li>
        <li>Debt Collections</li>
        <li>Civil Litigation</li>
      </ul>
    </div>

  </div>

  <h3>Our Office</h3>
  <p>We are a full service law firm practicing family law, employment law, debt collections, and general civil litigation.  We offer our clients top-notch, cost-effective representation.   Whether you need a creative negotiator or a tough litigator, we are the right choice.   While no lawyer can guarantee a particular result, we promise that we will always give you exceptional representation that is smart, honest, and effective. Call now to learn how we can help you.</p>



</div>

