<div class="sub-header-outer-div">


  <div class="row">

    <div class="col-sm-4">
      <h4>Services</h4>
      <ul>
        <li>Negotiation</li>
        <li>Litigation</li>
        <li>Litigation</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>Expertise</h4>
      <ul>
        <li>Family Law</li>
        <li>Employment Law</li>
        <li>Debt Collections</li>
        <li>Civil Litigation</li>
      </ul>
    </div>

    <div class="col-sm-4">
      <h4>Expertise</h4>
      <ul>
        <li>Family Law</li>
        <li>Employment Law</li>
        <li>Debt Collections</li>
        <li>Civil Litigation</li>
      </ul>
    </div>

  </div>


</div>

