<div class="testimonials-outer-div">
  <h3>Testimonials</h3>
  <p>List of testimonials.</p>

  <div id="block">
    <h3>Featured testimonial</h3>
    <div class="photo">
      <img src="images/testimonials/photo-bg.png" alt="" class="photo-bg">
      <img src="images/testimonials/photo.jpg" alt="" class="photo">
    </div>
    <p class="content"><span class="laquo">&nbsp;</span>Lorem ipsum dolor sit amet, sanctus corrumpit ei quo, eu quo meis brute, sed ut possit vocibus graecis. Dicant mandamus ne duo, mazim aperiam ei eos.<span class="raquo">&nbsp;</span></p>
    <div class="sign">
      <a href="#">Ilja Goushcha</a>
      <p>CTO at Proboknow</p>
    </div>
  </div>

  <div id="block">
    <h3>Featured testimonial</h3>
    <div class="photo">
      <img src="images/testimonials/photo-bg.png" alt="" class="photo-bg">
      <img src="images/testimonials/photo.jpg" alt="" class="photo">
    </div>
    <p class="content"><span class="laquo">&nbsp;</span>Lorem ipsum dolor sit amet, sanctus corrumpit ei quo, eu quo meis brute, sed ut possit vocibus graecis. Dicant mandamus ne duo, mazim aperiam ei eos.<span class="raquo">&nbsp;</span></p>
    <div class="sign">
      <a href="#">Chad Trainer</a>
      <p>President at Proboknow</p>
    </div>
  </div>

</div>
